body {
	padding: 10px;
}

.outer {
	border: 1px solid;
	border-radius: 4px;
	padding: 20px;
}

.nav-pills {
	margin-bottom: 10px;
}

.box {
	border-radius: 4px;
	background: #EEE;
	padding: 20px;
	margin: 10px 0;
}

.box table {
	background: #FFF;
}

table .halfHeader {
	background: #EEE;
}

/* Text Styles */
.Duke {
	color: #00519b;
}

.Wisconsin {
	color: #bd0f33;
}

td.bold {
	font-weight: bold;
}